---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import AppSeparator from "../components/app-separator.astro";
---

<Layout title="Le Bistró Gourmet | En construcción">
  <main>
    <div class="top">
      <div class="top__pattern">
        <div class="top__wrapper">
          <div class="top__logo">&nbsp;</div>
          <div class="top__slogan">
            <AppSeparator style="app__separator-top" alt="Separador" />
            <p>Un rincón de Francia en Caracas</p>
            <AppSeparator style="app__separator-bottom" alt="Separador" />
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <p class="bottom__title">Nuestro Sitio Web está en construcción</p>
      <div class="separator">
        <AppSeparator style="app__separator-top" alt="Separador inferior" />
        <AppSeparator style="app__separator-bottom" alt="Separador superior" />
      </div>
      <p class="bottom__text">
        Estamos preparando algo asombroso y emocionante para brindarte la mejor
        experiencia.
      </p>
    </div>
    <div class="bottom__rrss">
      <a href="https://www.instagram.com/lebistrotgourmet_ccs/" target="_blank">
        <Icon class="bottom__link" name="mdi:instagram" />
      </a>
    </div>
  </main>
</Layout>

<style>

.top {
  @apply flex flex-col mx-auto bg-armyGreen  box-content
  <sm:(mx-8 px-6 py-6)
  xl:(w-2/4 px-12 py-8);
}

.top__pattern {
  @apply bg-patternBg bg-repeat;
}

.top__wrapper {
  border-image: linear-gradient(#ba9211, #faefb1) 45;
  border-width: 1px;
  border-style: solid;
  padding: 2rem 0 2rem 0;
}

.top__logo {
  @apply mx-auto bg-logo bg-auto bg-top bg-no-repeat bg-contain 
  <sm:(w-56 pb-24)
  xl:(w-[48%] py-24);
}

.top__slogan {
  @apply <sm:(mx-4 pt-6 );
}

.top__slogan p {
  @apply font-serif text-white italic text-center
  <sm:(text-sm)
  xl:(text-lg)
}

.bottom__title {
  @apply w-full text-center text-armyGreen font-handwrite 
  <sm:(text-4xl my-5)
  xl:(text-5xl my-10);
}

.bottom__text {
  @apply font-serif text-grayWeb text-center
  <sm:(p-2)}

.separator {
  @apply flex justify-center;
}

.separator > div {
  @apply w-1/2;
}

.bottom__rrss {
  @apply w-full flex justify-center
  <sm:(pt-8)
  xl:(pt-4);
}

.bottom__link {
  @apply rounded-full bg-armyGreen text-goldMedium
  <sm:(w-5 p-1)
  xl:(w-6 p-2);
}
  
</style>
